# Eclipse
**/.classpath
**/.project
**/.settings/
**/.metadata/
**/*.launch
**/*.pydevproject

# Maven
**/target/
**/*.jar
**/*.war
**/*.ear

# IDEA
**/.idea/
**/*.iml
**/*.iws

# VSCode
**/.vscode/

# Local
**/.env
**/*.xml.user

# Log
**/*.log

# Temp
**/*.tmp
**/*.bak
**/*.swp

**/*.tycho*

**/*.DS_Store
